<h1>Cadastre seu livro:</h1>
<div class="form">
    <form action="/books/insertbook" method="post" >
        <div class="form-controle">
            <label for="titulo">Título:</label>
            <input type="text" name="titulo" placeholder="Digite o título">
        </div>
        <div class="form-controle">
            <label for="qtpag">Número de páginas:</label>
            <input type="number" name="qtpag" placeholder="Páginas">
        </div>
        <input type="submit" value="Cadastrar">
    </form>
</div>
