<h1>Encontre seu Livro</h1>
<form action="/kdbook/titulob" method="post" class="form">
    <div class="form-controle">
        <label for="titulo">Título: </label>
        <input type="text" name="titulo" placeholder="Digite o título">
    </div>
    <input type="submit" value="Buscar">
</form>
<p class="link"><a href="/">Novo Livro</a> | <a href="/books">Estante</a></p>