<div class="container">
    <div class="item">
        <h1>{{user.nome}}</h1>
        <ul><li>{{user.profissao}}</li></ul>
        <div class="actions">
            <a href="/">Voltar</a>
        </div>
    </div>
</div>
