<h1>Adiconar usuário</h1>
<form action="/users/create" method="post" class="form">
    <div class="form-controle">
        <label for="nome">Nome:</label>
        <input type="text" name="nome" placeholder="Digite o nome do usuário">
    </div>
    <div class="form-controle">
        <label for="profissao">Profissão:</label>
        <input type="text" name="profissao" placeholder="Digite a profissão">
    </div>
    <div class="form-controle form-checkbox">
        <input type="checkbox" name="newsletter" checked>
        <label for="newsletter">Deseja receber nossa newsletter? </label>
    </div>
    <input type="submit" value="Cadastrar">
</form>