<div class="container">
    <div class="item">
        <h1>{{user.nome}}</h1>
        <ul><li>{{user.profissao}}</li></ul>
    </div>
</div>
<div class="actions">
    <p><a href="/">Voltar</a></p>
</div>