<h2>Criar Tarefa</h2>
<form action="/tasks/add" method="post">
    <div class="form-controle">
        <label for="title">Tarefa:</label>
        <input type="text" name="title" id="title" placeholder="O que deseja fazer?">
    </div>
    <div class="form-controle">
        <label for="description">Descrição:</label>
        <textarea name="description" id="description" placeholder="Descreva a tarefa..."></textarea>
    </div>
    <div class="actions">
        <input type="submit" value="Criar" class="cad-btn">
    </div>
</form>