@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}


#navbar {
    border-bottom: 1px solid #ccc;
    padding: 1rem;
    margin-bottom: 1rem;
}

#navbar ul {
    display: flex;
    list-style-type: none;
    gap: 2rem;
    text-transform: uppercase;
    justify-content: end;
}

h1, h2{
    text-align: center;
    padding: 1rem;
}

.container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    gap: 1rem;
    margin: 0 auto;
}

.container .item {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 1.2rem;
    flex: 1 1 29%;
    max-width: 29%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.item h2,
.item li {
    margin-bottom: .8rem;
}

.item li {
    margin-left: 1rem;
}

.actions {
    display: flex;
    justify-content: space-between;
}

.actions a,
.actions input {
    border: 1px solid #bbb;
    border-radius: 4px;
    text-decoration: none;
    background-color: rgb(255, 255, 255);
    padding: 4px 8px;
    font-size: 1.2rem;
    color: black;
    cursor: pointer;
}

.actions .details-btn {
    border-color: #004085;
    color: #004085;
}

.actions .delete-btn {
    border-color: #721c24;
    color: #721c24;
}

.form {
    width: 450px;
    height: 55vh;
    margin: 0 auto;
    padding: 1.5rem;
}

.form-controle {
    display: flex;
    flex-direction: column;
    margin-bottom: .5rem;
}

.form-controle label {
    font-weight: bold;
    margin-bottom: .3rem;
    text-align: left;
}

.form-controle input {
    padding: 4px;
}

.form-checkbox {
    flex-direction: row;
}

.form-checkbox input{
    margin-right: 1.2rem;
}

footer {
    background-color: #ccc;
    bottom: 0;
    height: 25vh;
    margin-top: 1rem;
    position: static;
}
