<h1>Título</h1>
<p>Conteúdo</p>
<p>Usuário: {{usuario.nome}} {{usuario.sobrenome}}</p>
{{#if autenticado}}
    <p>Logado com sucesso!</p>
    <p>Clique <a href="/dashboard">aqui</a> para área de restrita.</p>

{{/if}}